
*{
   margin: 50%;
   padding: 50%;
}
body{
    background-color: #efefef;
    font-family: sans-serif;
}
.contact{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
#div1{
    border-radius: 3px solid black;
    font-size: 40%;
}
#div2{
    border-radius: 3px solid black;
    font-size: 40%;
}
#div3{
    border-radius: 3px solid black;
    font-size: 40%;
}